@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

button {
  border: none;
  cursor: pointer;
  font-size: clamp(0.9rem, 1.5vw ,1.05rem);
}

a {
  text-decoration: none;
}

h1 {
  font-size: clamp(1.8rem, 8vw ,2.5rem);
}

h2 {
  font-size: clamp(1.2rem, 4vw ,2.2rem);
}

h3 {
  font-size: clamp(0.85rem, 4vw, 1rem);
}

p, a {
  font-size: clamp(0.85rem, 1.1vw ,1.05rem);
}

p {
  line-height: 140%;
  letter-spacing: 1%;
}

span.chamada {
  text-transform: uppercase;
  font-size: clamp(0.8rem, 1vw ,1rem);
  margin-bottom: 0.5rem;
  word-spacing: 3px;
}

span.claro {
  color: #00d9ff;
}


ul, ol {
  list-style: none;
}

@media screen and (max-width: 480px) {
  span.chamada {
    display: none;
  }
}