header {
  color: #fff;
  background-image: 
    linear-gradient(45deg, #020b14f1 30%, #061522f1  90%), 
    url("/footer-image.jpg")
  ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #00d9ff;
  min-height: 70dvh;
  display: grid;
  grid-template-columns: 1fr 95% 1fr;
  grid-template-rows: auto 1fr;
  padding: 2rem 0 0 0;
}

header nav {
  margin: auto;
  width: 100%;
  max-width: 1330px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 2/3;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

header nav a {
  color: #fff;
  position: relative;
  padding-bottom: 0.5rem;
}


header nav a::after {
  content: " ";
  width: 0%;
  height: 1px;
  background-color: #00d9ff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.2s;
}

header a:hover::after {
  width: 100%;
}

header nav button {
  background: linear-gradient(100deg, #00d9ff 0%, #00b8e6 100%);
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

div.main-header {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 100%;
  max-width: 1330px;
}

div.texto-header {
  width: 100%;
  max-width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.6rem;
}

div.imagem-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 100%;
}

div.botoes {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  gap: 2%;
}

div.botoes a {
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
}

a.cheio {
  color: #1c1c1c;
  background: linear-gradient(55deg, #00d9ff 0%, #00b8e6 100%);
}

a.vazado {
  background-color: transparent;
  color: #fff;
  border: 1px solid #00d9ff;
  transition: all 0.2s;
}

@media screen and (max-width: 980px) {
  header {
    min-height: 65dvh;
  }
  header nav ul {
    display: none;
  }
  div.main-header {
    grid-template-columns: 1fr;
  }
  div.imagem-header {
    display: none;
  }
  div.texto-header {
    max-width: 1000px;
    margin: 0 auto;
  }
  div.botoes {
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 480px) {
  header {
    min-height: 55dvh;
  }
  div.botoes {
    flex-direction: column;
    gap: 1rem;
  }
  div.botoes button {
    padding: 0.6rem;
  }
  header nav button {
    padding: 1rem;
    font-size: 1.1rem;
  }
  header nav button p {
    display: none;  
  }
}