header {
  color: #fff;
  background-color: #020B14;
  border-bottom: 1px solid #00d9ff;
  min-height: 70dvh;
  display: grid;
  grid-template-columns: 1fr 95% 1fr;
  grid-template-rows: auto 1fr;
  padding: 2rem 0 0 0;
}

header nav {
  margin: auto;
  width: 100%;
  max-width: 1330px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 2/3;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

header a {
  color: #fff;
}

header nav button {
  background-color: #00d9ff;
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

div.main-header {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 100%;
  max-width: 1330px;
}

div.texto-header {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.6rem;
}

div.imagem-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 100%;
}

div.botoes {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  gap: 2%;
}

div.botoes button {
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
}

button.cheio {
  background-color: #00d9ff;
}

button.vazado {
  background-color: transparent;
  color: #fff;
  border: 1px solid #00d9ff;
}

@media screen and (max-width: 980px) {
  header {
    background-image: 
      linear-gradient(45deg, #020b14e3 30%, #061522e3  90%), 
      url("../../../public/header-image.png")
    ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    min-height: 65dvh;
  }
  header nav ul {
    display: none;
  }
  div.main-header {
    grid-template-columns: 1fr;
  }
  div.imagem-header {
    display: none;
  }
  div.texto-header {
    max-width: 1000px;
    margin: 0 auto;
  }
  div.botoes {
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 480px) {
  header {
    min-height: 55dvh;
  }
  div.texto-header p {
    text-align: justify;
  }
  div.botoes {
    flex-direction: column;
    gap: 1rem;
  }
  div.botoes button {
    padding: 0.8rem;
  }
  header nav button {
    padding: 1rem;
    font-size: 1.1rem;
  }
  header nav button p {
    display: none;  
  }
}