footer {
  background-image: 
    linear-gradient(45deg, #020b14f1 30%, #061522f1  90%), 
    url("/footer-image.jpg")
  ;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 95% 1fr;
  padding: 2rem 0;
}

footer div.conteudo {
  grid-column: 2/3;
  margin: 0 auto;
  width: 100%;
  max-width: 1330px;
}

footer div.main-footer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

footer div.bottom-footer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

footer div.bottom-footer h2 {
  width: 100%;
}

footer div.bottom-footer div.redes-sociais {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  width: 100%;
}

footer div.texto {
  width: 100%;
  max-width: 620px;
}

footer div.main-footer div.redes-sociais {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

footer div.rede-social {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

footer div.rede-social i {
  color: #00d9ff;
}

footer div.main-footer label {
  font-size: clamp(0.9rem, 1.2vw, 1.1rem);
}

footer form {
  background-color: #ffffff07;
  backdrop-filter: blur(0.2rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1rem 0.5rem;
  border: 1px solid #00d9ff;
  border-radius: 0.5rem;
}

footer form h3 {
  font-size: clamp(1rem, 1.1vw, 1.1rem);
  font-weight: 400;
}

footer form textarea {
  min-height: 100px;
  color: #fff;
  border: 1px solid #ffffff94;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
}

footer form button {
  font-size: clamp(0.9rem, 1vw, 0.9rem);
  padding: 0.4rem;
  background-color: #00d9ff;
  border-radius: 1rem;
}

footer hr {
  border: none;
  border-bottom: 0.1px solid #ffffff94;
  margin: 1.5rem 0;
}

footer nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

footer nav ul a {
  color: #fff;
  font-weight: 100;
}

footer div.bottom-footer a {
  color: #fff;
  font-weight: 100;
  transition: all 0.15s;
}

footer div.bottom-footer a:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1280px) {
  footer div.conteudo div.main-footer {
    grid-template-columns: 3fr 2fr;
  }
  footer div.texto {
    justify-self: left;
    padding-right: 1rem;
  }
  footer div.main-footer div.redes-sociais {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  footer div.texto {
    max-width: none;
    padding: 0;
  }
  footer div.conteudo div.main-footer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  footer div.bottom-footer {
    grid-template-columns: 1fr 1fr;
  }
  footer nav {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  footer nav ul {
    gap: 1rem;
  }
}