section.sobre {
  background: linear-gradient(45deg, #061522 30%, #0D2435  90%);
  display: grid;
  grid-template-columns: 1fr 95% 1fr;
  padding: 2rem 0;
}

section.sobre div.conteudo {
  grid-column: 2/3;
  margin: auto;
  width: 100%;
  max-width: 1330px;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

section.sobre div.texto {
  color: #fff;
  max-width: 620px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

section.sobre p {
  line-height: 140%;
  letter-spacing: 1%;
}

section.sobre div.imagem img {
  aspect-ratio: 16/9;
  width: 80%;
  object-fit: cover;
  border-radius: 1rem;
}

section.sobre div.cards {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem; 
  align-items: center;
  max-width: 520px;
}

section.sobre div.card {
  display: flex;
  align-items: end;
  gap: 0.5rem;
}

section.sobre div.cards hr {
  height: 40px;
  margin: 0;
  border: 1px solid #006B99;
}

section.sobre div.card span {
  width: 100%;
  text-align: left;
  color: #fff;
}

@media screen and (max-width: 980px) {
  section.sobre div.imagem img {
    display: none;
  }
  section.sobre div.conteudo {
    grid-template-columns: 1fr;
  }
  section.sobre div.texto {
    gap: 0.5rem;
  }
  section.sobre div.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  section.sobre div.cards {
    margin: auto;
  }
  section.sobre div.texto span {
    display: none;
  }
  section.sobre h2, section.sobre p {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {

  section.sobre div.cards {
    gap: 2rem;
    padding: 1rem 0;
    height: 3rem;
    position: relative;
    overflow: auto;
    scroll-snap-type: x mandatory;
    flex-direction: column;
    align-items: center;
  }
  section.sobre div.card i {
    position: relative;
    top: 8px;
  }
  section.sobre div.card {
    width: 100%;
  }
  section.sobre div.cards hr {
    display: none;
  }
}