section.sobre {
  background: linear-gradient(45deg, #061522 30%, #0D2435  90%);
  display: grid;
  grid-template-columns: 1fr 95% 1fr;
  padding: 2.5rem 0;
  border-bottom: 1px solid #00D9FF;
}

section.sobre div.conteudo {
  grid-column: 2/3;
  margin: auto;
  width: 100%;
  max-width: 1330px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 2fr;
}

section.sobre div.texto {
  color: #fff;
  max-width: 620px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

section.sobre div.imagem img {
  aspect-ratio: 16/9;
  width: 80%;
  object-fit: cover;
  border-radius: 1rem;
}

section.sobre div.cards {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem; 
  align-items: center;
  max-width: 520px;
}

section.sobre div.card {
  display: flex;
  align-items: end;
  gap: 0.5rem;
}

section.sobre div.cards hr {
  height: 40px;
  margin: 0;
  border: 1px solid #006B99;
}

section.sobre div.card span {
  width: 100%;
  text-align: left;
  color: #fff;
}

@media screen and (max-width: 1280px) {
  section.sobre div.cards {
    gap: 1rem;
  }
}

@media screen and (max-width: 980px) {
  section.sobre {
    background: 
      linear-gradient(45deg, #061522ec 30%, #0D2435ec  90%), 
      url("../../../public/section-image.jpg")
    ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  section.sobre div.imagem img {
    display: none;
  }
  section.sobre div.conteudo {
    grid-template-columns: 1fr;
  }
  section.sobre div.infos {
    max-width: 620px;
    margin: auto;
  }
  section.sobre div.texto {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  section.sobre div.cards {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  section.sobre div.cards {
    gap: 2rem;
    padding: 1rem 0;
    height: 3rem;
    position: relative;
    overflow: auto;
    flex-direction: column;
    align-items: center;
  }
  section.sobre div.card i {
    position: relative;
    top: 8px;
  }
  section.sobre div.card {
    width: 100%;
  }
  section.sobre div.cards hr {
    display: none;
  }
}