section.servicos {
  background: linear-gradient(45deg, #020B14 30%, #061522  90%);
  display: grid;
  grid-template-columns: 1fr 95% 1fr;
  padding: 2.5rem 0;
  border-bottom: 1px solid #00D9FF;
}

section.servicos div.conteudo {
  grid-column: 2/3;
  margin: auto;
  width: 100%;
  max-width: 1330px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

section.servicos div.texto {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.2rem;
  max-width: 620px;
}

section.servicos div.cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

section.servicos div.card {
  color: #fff;
  border: 1px solid #00D9FF;
  background-color: #0d243541;
  width: 100%;
  backdrop-filter: blur(10rem);
  padding: 1.4rem 0.6rem 0.6rem 0.6rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

section.servicos div.card p {
  font-weight: 200
}

div.card i {
  color: #00D9FF;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1280px) {
  section.servicos div.cards {
    grid-template-columns: 1fr;
    position: relative;
    overflow: auto;
    height: 13rem;
  }
}

@media screen and (max-width: 980px) {
  section.servicos div.conteudo {
    max-width: 620px;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  section.servicos div.texto {
    margin: auto;
    gap: 0.5rem;
  }
  section.servicos p, section.servicos h2, section.servicos span {
    text-align: left;
    width: 100%;    
  }
  section.servicos div.texto p {
    max-width: none;
  }
  section.servicos div.cards {
    grid-template-columns: 1fr;
    padding: 1rem 0;
    position: relative;
    overflow: auto;
    height: 7rem;
  }
  section.servicos div.card {
    align-items: center;
    box-shadow: none;
  }
  section.servicos div.card p {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  section.servicos div.cards {
    grid-template-columns: 1fr;
    height: 8rem;
  }
}